@{
    Layout = "_Layout";
}

@using VendorOrders.Models;

<h1>All Vendors</h1>

@if (@Model.Count == 0)
{
    <h3>There are currently no vendors with active orders</h3> 
}

@foreach (Vendor vendor in Model)
{
    <h3><a href="/vendors/@vendor.Id">@vendor.Name</a></h3>
}

<a href="/vendors/new">Add a new Vendor</a>
